# Function dependencies, for example:
# package>=version
google-cloud-pubsub
google-api-python-client
google-cloud-logging
google-cloud-secret-manager
google-cloud-storage
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
